.about-container {
    background-color: #FAFAF6;
}

.about-banner-container {
    position: relative;
}

.about-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.about-text-header {
    font-size: 40px;
    text-align: center;
    color: #FAFAF6;
    cursor: default;
}

.our-mission-container {
    background-color: #EDE9D2;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-mission-header {
    text-align: center;
}

.our-mission-header h2 {
    padding: 50px 0;
    font-size: 30px;
}

.about-icon {
    width: 500px;
    height: auto;
    border-radius: 40px;
    margin: 0 10px 0 20px;
}

.our-mission-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.our-mission-text {
    width: 40vw;
    font-size: 20px;
    margin: 0 20px 0 10px;
}

.offer-icon {
    width: 450px;
    height: 380px;
    object-fit: cover;
    border-radius: 80px;
    margin: 0 20px;
}

.what-we-offer-content {
    text-align: center;
    width: 40%;
}

.what-we-offer-content h3 {
    padding: 20px 0;
    font-size: 24px;
}

.what-we-offer-content p {
    font-size: 20px;
    padding: 0 40px;
}

.what-we-offer-item1, .what-we-offer-item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

@media screen and (max-width: 950px) {
    .our-mission-items {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .about-icon {
        margin: 20px 0;
        width: 90vw;
    }

    .our-mission-text {
        margin: 20px 0;
        width: 90vw;
    }

    .what-we-offer-content {
        margin: 40px 0;
        width: 90vw;
    }

    .offer-icon {
        width: 90vw;
        height: 50vh;
    }

    .what-we-offer-item2 {
        flex-direction: column-reverse;
    }

    .what-we-offer-item2:last-child {
        padding-bottom: 80px;
    }
}