.recipes-container {
    background-color: #FAFAF6;
}

.recipes-banner-container {
    position: relative;
}

.recipes-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.recipes-text-header {
    font-size: 40px;
    text-align: center;
    color: #FAFAF6;
    cursor: default;
}

.recipes-title-banner {
    background-color: #FAFAF6;
    height: auto;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    text-align: center;
    padding: 20px;
}

.filter-buttons-container {
    background-color: #EDE9D2;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-buttons-container button {
    font-size: 24px;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #B98145;
    color: #FAFAF6;
    cursor: pointer;
    margin: 20px;
}

.filter-buttons-container button:hover {
    color: black;
    transition: all 600ms ease-in-out;
}

.category-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.recipes-category-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    text-align: center;
    position: relative;
}

.recipes-category-icon h1 a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: #FAFAF6;
    text-decoration: none;
}

.recipes-category-icon h1 a:hover {
    color: red;
}

.area-btn {
    width: 300px;
    height: 100px;
    border-radius: 25px;
    border: 1px solid #B98145;
    background-color: #FAFAF6;
    font-size: 30px;
    color: #B98145;
    margin: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 20px gray;
}

.area-btn:hover{
    color: red;
    border: 3px solid red;
    transition: all 600ms ease-in-out;
}

.area-btn-container {
    display: none;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.category-filter-container.deactive {
    display: none;
}

.area-btn-container.active {
    display: flex;
    background-color: #FAFAF6;
    padding: 40px;
}

.letter-filter-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.letter-filter-container.active {
    display: flex;
    background-color: #FAFAF6;
    padding: 40px;
}

.name-btn {
    width: 70px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #B98145;
    background-color: #FAFAF6;
    font-size: 30px;
    color: #B98145;
    margin: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 20px gray;
}

.name-btn:hover {
    color: red;
    border: 3px solid red;
    transition: all 600ms ease-in-out;
}

@media screen and (max-width: 650px) {

    .filter-buttons-container {
        flex-direction: column;
    }

    .filter-buttons-container button {
        width: 80vw;
    }

    .recipes-title-banner {
        font-size: 30px;
    }

    
}