.courses-icon-container {
    min-height: 70vh;
}

.all-courses-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.course-icon-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.course-icon-header h3 {
    color: #FAFAF6;
    margin: 0 10px;
}

.course-icon-img {
    font-size: 40px;
    color: #B98145;
    margin: 0 10px;
}

.course-icon-btn {
    height: 40px;
    width: 140px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #B98145;
    color: #FAFAF6;
    font-weight: bold;
    cursor: pointer;
}

.course-icon-btn:hover {
    background-color: #645f51;
    transition: all 300ms ease-in-out;
}

.course-icon-btn:active {
    color: red;
    transform: translateY(4px);
    font-size: 18px;
}

.course-icon-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.course-icon-background {
    width: 360px;
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    filter: brightness(40%);
}

.course-icon-background-1 {
    background-image: url(../../images/course-icon1.png);
}

.course-icon-background-2 {
    background-image: url(../../images/course-icon2.png);
}

.course-icon-background-3 {
    background-image: url(../../images/course-icon3.png);
}

.course-icon-background-4 {
    background-image: url(../../images/course-icon4.png);
}

.course-icon-background-5 {
    background-image: url(../../images/course-icon5.png);
}

.course-icon-background-6 {
    background-image: url(../../images/course-icon6.png);
}

.course-icon-cover p {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: #FAFAF6;
}

.course-icon-cover a {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    height: auto;
    width: 80vw;
    color: #FAFAF6;
}

.fullname {
    display: flex;
    justify-content: space-between;
}

.fullname input, .last-name input, .modal-email input, .modal-phone input {
    border: 1px solid black;
    width: 35vw;
    height: 40px;
    padding: 0 20px;
}

.modal-contact-info {
    display: flex;
    justify-content: space-between;
}

.modal-dropdown select {
    border: 1px solid black;
    width: 80vw;
    height: 40px;
    padding: 0 20px;
}

.modal-btns {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.cancel-modal {
    background-color: gray;
    color: #FAFAF6;
    border: none;
    width: 100px;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
}

.submit-modal {
    background-color: dodgerblue;
    color: #FAFAF6;
    border: none;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
}

.cancel-modal:hover {
    color: red;
}

.submit-modal:hover {
    color: lightgreen;
}


@media screen and (max-width: 800px) {
    .course-icon-background {
        width: 90vw;
    }
    
}

@media screen and (max-width: 650px) {
    .fullname {
        flex-direction: column;
    }

    .modal input {
        width: 80vw;
    }

    .modal-contact-info {
        flex-direction: column;
    }

    .modal-btns {
        justify-content: center;
    }

    .first-name {
        padding-bottom: 20px;
    }

    .modal-email {
        padding-bottom: 20px;
    }

}